# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test

/public
.DS_Store
.hugo_build.lock
resources/_gen/
/content/Template
/content/.obsidian
/content/.sync
/content/Excalidraw
/content/Hadoop
/content/Linux
/content/Others
/content/Pandas
/content/Python
/content/SQL
/content/草稿.md
/content/画板.md
/content/主页.md