@use "./base.scss";

// put your custom CSS here!
@font-face {
  font-family: "CustomHeaderFont";
  src: url("/static/fonts/LXGWWenKai-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CustomBodyFont";
  src: url("/static/fonts/LXGWWenKai-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CustomCodeFont";
  src: url("/static/fonts/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
